<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <dict>
                        <key>assets</key>
                        <array>
                                <dict>
                                        <key>kind</key>
                                        <string>software-package</string>
                                        <key>url</key>
                                        <string>https://onedrive.live.com/download.aspx?cid=2B29A6CC814A569C&resid=2B29A6CC814A569C%21112&canary=svIFsG%2F9a11zX%2Bom4z0q1h7K7%2BR6tMjkcg%2BU8bLzd7o%3D4</string>
                                </dict>
                        </array>
                        <key>metadata</key>
                        <dict>
                                <key>bundle-identifier</key>
                                <string>wfgp@lcc.com.tw</string>
                                <key>bundle-version</key>
                                <string>1.0</string>
                                <key>kind</key>
                                <string>software</string>
                                <key>title</key>
                                <string>Rotary</string>
                        </dict>
                </dict>
        </array>
</dict>
</plist>
